@font-face {
    font-family: 'ArchivoRegular';
    src: url('../../assets/fonts/static/Archivo/Archivo-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    font-display: fallback;
}
@font-face {
    font-family: 'ArchivoBold';
    src: url('../../fonts/static/Archivo/Archivo-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    font-display: fallback;
}
