/*Primary*/
$tomato: #FF674D;
$tomato-green: #24af02;
$active-green: #1d8802;
/*Secondary*/
$linen: #FFEBE8;
$candy_apple_red: #D80029;
/*Neutral*/
$black: #000000;
$granite_gray: #585151;
$spanish_gray: #989595;
$chinese_white: #E1E1E1;
$bright_gray: #EDEDED;
$cultured: #F5F5F5;
$white: #FFFFFF;
$light-tomato:#fff5f3;

/*Shadow*/
$shadow: rgba(0, 0, 0, 0.16);